.container {
  width: 320px;
  margin: auto;
  text-align: center;
}


@media (min-width: @tablet-width) {
  .container {
    width: 768px;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1200px;
    margin: auto;
    text-align: center;
  }
}
