.introduce-form__control {
  background-color: @form-background;
  border-style: none;
  height: 58px;
  font-size: 18px;

  &:hover {
    background-color: @form-hover-background;
  }

  &:checked {
    background: @form-background;
  }
}

.introduce-form__label {
  font-weight: 700;
}
