.social__list{
  display: flex;

}

.social a{
  width: 46px;
  height: 48px;
  text-align: center;
  flex-shrink: 0;
  box-sizing: border-box;
}
.social__item{
  display: block;
  box-sizing: border-box;
  background-color:#81B3D2;
  width: 46px;
  height: 48px;
  list-style: none;
  margin-left: 6px;
  }

a.twitter::before {
  content: url("../img/icon-twitter.svg");
  margin: auto;
}

a.facebook::before {
  content: url("../img/icon-facebook.svg");
  margin: auto;
}
a.youtube::before {
  content: url("../img/icon-youtube.svg");
  margin: auto;
}
.copyright a::before {
  content: url("../img/logo-htmlacademy.svg");
}
.contact{
  a{
      font-weight: bold;
  }
}
