.photo-and-video {
  width: 299px;
  min-height: 137px;

  @media (min-width: @tablet-width) {
    width: 458px;
    min-height: 118px;
    margin-right: 155px;
    margin-left: 155px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 371px;
    margin-left: 371px;
  }
}
