.photo__title {
  text-transform: uppercase;
  font-weight: bold;
}
.photo__author {
  text-transform: none;
}
.photo__appereciate_button {
  display: flex;
  content: "";
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  min-width: 23px;
  min-height: 21px;
  border-style: none;
}
