.photo__title {
  text-transform: uppercase;
  font-weight: 700;
}

.photo__author {
  text-transform: none;
}

.photo__img {
  width: 280px;
  height: 280px;
}

.photo__appereciate-button {
  display: flex;
  content: "";
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  border-style: none;

  @media (min-width: @tablet-width) {
    text-align: right;
  }
}

.photo {
  padding-top: 22px;
  border-top: 1px solid @form-hover-background;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}

.photo__text {
  margin-left: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}


.photo__statistic {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
    min-height: 80px;
  }
}
