.search__button {
  background: @block-color;
  color: @base-color;
  border-style: none;
  width: 280px;
  height: 58px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.search {
  margin-bottom: 49px;
}
