.video {
  min-height: 427px;
  padding-top: 32px;
  border-top: 1px solid @form-hover-background;
}

.video__text {
  width: 266px;
  min-height: 127px;
  margin: 0 auto;
  text-align: center;
}

.video__title {
  font-size: 18px;
}
