.welcome {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  img {
    text-align: center;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 85px;
  }
}
